<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of ProductList">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <td><img src="{{product.img}}" width="60" alt="produc_img"></td>
      </tr>
    </tbody>
</table>